ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
}

li {
  font-size: 1.25rem;
}

.navBar {
  background: steelblue;
  box-shadow: 4px 2px 5px gray;
  color: white;
  margin-bottom: 2rem;
  padding: 1.5rem 2rem;
  display: flex;
}

.navBar button {
  background: transparent;
  border: 2px solid white;
  color: white;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
}

.navBar button:hover {
  background: white;
  color: steelblue;
  cursor: pointer;
}

.brand {
  cursor: pointer;
  font-size: 2rem;
  margin-right: auto;
}

.link-container {
  display: flex;
  gap: 1rem;
  margin: 0 auto;

}

.link-text {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.logout-container {
  margin-left: auto;
}
